html, body{
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
	background: #FFf;
}
.logo {
  float: left;
  margin-top:-8px;
}
.logo  a h1{
  font-size: 3.5em;
  font-weight: 400;
  color: #01b267;
  font-family: 'Open Sans Condensed', sans-serif;
}
.logo  a h1:hover{
 text-decoration:none;
}
.logo a h1 span {
  color: #61639c;
}
.search-box{
  float: right;
  width: 33%;
   margin-top: 1em;
}
.b-search{
	position: relative;
	border: 1px solid #D7D7D7;
	padding: 0.5em 0;
	background: #fff;
	width: 99%;
}
.b-search input[type="text"]{
	width: 91%;
	outline: none;
	padding: 0em 0.6em;
	font-size: 1em;
	color: #333;
	position: relative;
	border: none;
}
.b-search input[type="submit"]{
	background: url(../images/search.png) no-repeat 0px 2px;
	border: none;
	height: 26px;
	width: 26px;
	position: absolute;
	outline: none;
	top: 6px;
	right: 2px;
}
/*--slider--*/
.banner-slider {
   box-shadow: 0 0 0.6em #ccc;
  -webkit-box-shadow: 0 0 0.6em #ccc;
  -o-box-shadow: 0 0 0.6em #ccc;
  -moz-box-shadow: 0 0 0.6em #ccc;
  -ms-box-shadow: 0 0 0.6em #ccc;
  margin: 1em 0;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.top-menu {
  float: left;
 padding: 1em 0;
}
.top-menu ul{
	padding:0;
}
.top-menu ul li{
	display:inline-block;
	list-style:none;
	margin-right: 1em;
}
.top-menu ul li a{
   display: inline-block;
  color: #61639c;
  text-decoration: none;
  font-size: 1em;
  padding:0;
  font-weight:600;
}
.top-menu ul li a.active,.top-menu ul li a:hover{
	color:#01b267;
     transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*-- sticky-nav --*/
@media screen and (max-width: 768px) {
    span.menu {
	  width: 35px;
	  height: 35px;
	  background: url('../images/nav.png') no-repeat;
	  display: inline-block;
	  cursor: pointer;
	  position: absolute;
	   top: 4%;
	  left: 48%;
	}
	.header-bottom {
  		padding: 1em 0;
	}
	.top-menu {
  	  width: 100%;
	  display: none;
	  text-align: center;
	  background: #61639c;
	  padding: 0;
	  margin-top: 4px;
	}
	.top-menu ul{
		float:none;
		width:100%;
	}
	.top-menu ul li{
		display:block;
		float: none;
	}
	.top-menu ul li a {
  		  color: #fff;
		  display: block;
		  padding: 10px 0px;
		  margin: 0px 0;
	}
}
/*--banner-grids--*/
.banner-grid.one,.banner-grid.two,.banner-grid.three {
    padding: 1.3em;
  margin: 0;
  background-color: #97d76f;
}
.icon {
  float: left;
}
.icon-text {
    float: right;
  text-align: left;
}
.banner-grid.two {
 background:#01b267;
}
.banner-grid.three {
    background: #61639c;
}
.icon-text h4 {
    font-size: 1.8em;
  color: #fff;
  font-weight: 400;
  font-family: 'Romanesco', cursive;
  letter-spacing: 2px;
}
.icon-text p {
  font-size: 0.9em;
  color: #fff;
  line-height: 1.7em;
  margin: 0.5em 0;
}
i.s1, i.s2, i.s3, i.s4, i.s5, i.s6 {
  width:30px;
  height:30px;
  background: url('../images/icons.png') no-repeat 0px 0px;
  display: inline-block;
}
i.s1 {
  background: url('../images/icons.png') no-repeat -30px 0px;
}
i.s2{
  background: url('../images/icons.png') no-repeat -60px 0px;
}
i.s3 {
  background: url('../images/icons.png') no-repeat -90px 0px;
}

h3.tittle{
  font-size:3.5em;
  font-weight: 400;
  color: #01b267;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
 }

.serve-grids {
  margin-top: 3em;
}

h3.tittle.two {
  font-size:4em;
}
.s-icon {
  float: left;
  text-align: center;
  margin-top: 0.5em;
}
.s-icon-text {
    float: right;
  text-align: left;
}
.serve-grid.one {
   background-color: #97d76f;
}
.serve-grid.two {
 background:#01b267;
}
.serve-grid:hover{
opacity:0.9;
}
.s-icon-text h4 {
  font-size: 2.4em;
  color: #fff;
  font-weight: 400;
  font-family: 'Romanesco', cursive;
  letter-spacing: 2px;
}
.s-icon-text p {
  font-size: 0.9em;
  color: #fff;
  line-height: 1.7em;
  margin: 0.5em 0;
}
.serve-grid {
    padding: 2.8em;
}
i.s1, i.s2, i.s3, i.s4, i.s5, i.s6 {
  width:30px;
  height:30px;
  background: url('../images/icons.png') no-repeat 0px 0px;
  display: inline-block;
}
i.s1 {
  background: url('../images/icons.png') no-repeat -30px 0px;
}
i.s2{
  background: url('../images/icons.png') no-repeat -60px 0px;
}
i.s3 {
  background: url('../images/icons.png') no-repeat -90px 0px;
}
.serve-grid:hover  i.s1,.serve-grid:hover  i.s2,.serve-grid:hover  i.s3,.serve-grid:hover i.s4{
transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
}

.copy {
   text-align: center;
    background: #01b267;
  padding: 1em 1em;
  }
.copy p {
  color: #fff;
  font-size:0.9em;
}
.copy p a {
   color:#ffff00;
}
.copy p a:hover{
	text-decoration: underline;
	color: #FFFF00;
}
/*----top-move------*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 40px;
  height: 22px;
  border: none;
  text-indent: 100%;
  background: url(../images/move-top.png) no-repeat 0px 0px;
}
.no-mobile{
	text-align:center;
	font-size:24px;
	width:500px;
	margin:auto;
	font-size:'PT Sans', sans-serif;
	padding-top:200px;
	line-height:40px;
	color:#000;
}
@media screen and (min-width: 720px){
	.no-mobile{display:block;}
	.mobile{display:none;}
}
@media screen and (max-width: 719px){
	.no-mobile{display:none;}
	.mobile{display:block;}
}
