body,
ul,
dl,
dd,
dt,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
textarea,
form,
select,
fieldset,
table,
td,
div,
input {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
}
body > div {
	margin: 0 auto;
}
div {
	text-align: left;
}
.keBody {
	background: url(../images/bodyBg.jpg) repeat #333;
}
.keTitle {
	height: 100px;
	line-height: 100px;
	font-size: 30px;
	font-family: "微软雅黑";
	color: #fff;
	text-align: center;
	background: url(../images/bodyBg3.jpg) repeat-x bottom left;
	font-weight: normal;
}
.keTitle a {
	color: #fff;
	text-decoration: none;
}
.keTitle a:hover {
	color: #f00;
	transition: 0.3s all ease;
}
.kePublic {
	background: #fff;
	padding: 50px;
}
.keBottom {
	color: #fff;
	padding-top: 25px;
	line-height: 28px;
	font-family: "微软雅黑";
	background: url(../images/bodyBg2.jpg) repeat-x top left;
	padding-bottom: 25px;
}
.keTxtP {
	font-size: 16px;
  color: #ffffff;
  padding: 0 15px;
}
.gallery:after {
	content: "";
	display: block;
	height: 2px;
	margin: 0.5em 0 1.4em;
	background: -webkit-linear-gradient(
		left,
		rgba(0, 0, 0, 0) 0%,
		rgba(77, 77, 77, 1) 50%,
		rgba(0, 0, 0, 0) 100%
	);
}
.gallery img {
	height: 100%;
}
.gallery a {
	height: 240px;
	display: inline-block;
	overflow: hidden;
	margin: 4px 20px;
	box-shadow: 0 0 8px 1px #000;
}
.baguetteBoxOne {
	margin: 0 auto;
}

@media only screen and (max-width: 720px) {
	.kePublic {
		background: #fff;
		width: 100%;
		padding: 0;
	}
	.baguetteBoxOne {
		width: 100%;
	}
	.gallery a {
		width: 45%;
		height: auto;
		display: inline-block;
		margin: 4px 2.2%;
	}
	.gallery img {
		width: 100%;
	}
	.keTitle {
		height: 50px;
		line-height: 50px;
		font-size: 18px;
		font-weight: bold;
	}
	.keBottom {
		lin-height: 20px;
	}
	.keTxtP {
		font-size: 14px;
		text-indent: 30px;
		text-align: left;
	}
}
